@model MultiPlug.Base.Http.EdgeApp
@{
    Layout = "MultiPlug.Ext.Thm.Default2016.Layout";
}
@Include(@Model.Extension.RazorTemplate)

<footer id="main-footer">
    Extension: @Model.Extension.Name. <a href="https://multiplug.app" target="_blank">MultiPlug .Net Edge Computing Platform</a> Copyright © 2021 British Systems, all rights reserved.
    <a href="#" class="pull-right" id="on-top-link">
        On Top&nbsp;<i class=" icon-chevron-up"></i>
    </a>
</footer>