@using MultiPlug.Base.Http
@model MultiPlug.Base.Http.EdgeApp

<style>
    .extensions-heading h2 {
        margin-left: 0.1em;
        margin-top: 0px;
        margin-bottom: 20px;
    }
</style>

<div class="extensions-heading">
    <h2>Apps</h2>
</div>

<div class="box">
    <div class="row-fluid" style="margin-bottom: 20px">

        @foreach (var HttpEndpoint in @Model.MultiPlugAPI.HttpEndpoints.App)
        {
            if (HttpEndpoint.isHidden)
            {
                continue;
            }

            <a href="@HttpEndpoint.Href" class="btn quick-btn span2">
                <i class="icon-dashboard"></i>
                <span class="quick-btn-title">@HttpEndpoint.Name</span>
            </a>
        }

    </div>
</div>

<script>
</script>

