@using MultiPlug.Base.Http
@model MultiPlug.Base.Http.EdgeApp

<div class="extensions-heading">
    <h2>Apps</h2>
</div>

<div class="box">
    <div class="row-fluid" style="margin-bottom: 20px">

        @foreach (var Extension in @Model.MultiPlugAPI.Extensions)
        {
            foreach (var HttpEndpoint in Extension.HttpEndpoints)
            {
                if (HttpEndpoint.isHidden || (HttpEndpoint.Type != HttpEndpointType.App))
                {
                    continue;
                }

                <a href="@HttpEndpoint.Href" class="btn quick-btn span2">
                    <i class="icon-dashboard"></i>
                    <span class="quick-btn-title">@HttpEndpoint.Name</span>
                </a>
            }
        }

    </div>
</div>

<script>
</script>

