@model MultiPlug.Base.Http.EdgeApp
@{
    Layout = "MultiPlug.Ext.Thm.Default2016.Layout";
}

<div>
    <h2>Housekeeping</h2>
</div>

<h3 class="box-header">
    Log Files
</h3>
<div class="box">
    <div class="row-fluid">
        <div id="jstree">
            <ul>
                @foreach (var FileStorage in @Model.Extension.Model.FileStorage)
                {
                    <li>
                        @FileStorage.Extension
                        <ul>
                            @foreach (var FileListing in FileStorage.FileStatues)
                            {
                                <li data-jstree='{"icon":"jstree-file"}'>
                                    <a href="#">@Raw((!FileListing.Orphan) ? "(In use) " : "")@FileListing.FullName</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" href="assets/multiplug.ext.mplib/styles/jstree.style.min.css" />
<script src="assets/multiplug.ext.mplib/scripts/jstree.min.js"></script>

<script>
    $('#jstree').jstree();
</script>