@model MultiPlug.Base.Http.EdgeApp
@{
    Layout = "MultiPlug.Ext.Thm.Default2016.Layout";
}

<div>
    <img height="35" width="35" alt="MultiPlug Icon" src="assets/default2016/images/MultiPlug-Icon.png">
    <h2>Housekeeping</h2>
</div>


<div id="jstree">
    <ul>
        @foreach (var FileDomain in @Model.Extension.Model.FileStatues)
        {
            <li>
                Domain A @*@Extension.Name*@
                <ul>
                    @foreach (var FileListing in FileDomain)
                    {
                    <li data-jstree='{"icon":"jstree-file"}'>
                        <a href="#" >@Raw((! FileListing.Orphan) ? "(In use) " : "")@FileListing.FullName</a>
                    </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

<link rel="stylesheet" href="assets/multiplug.ext.mplib/styles/jstree.style.min.css" />
<script src="assets/multiplug.ext.mplib/scripts/jstree.min.js"></script>

<script>
    $('#jstree').jstree();
</script>