@model MultiPlug.Base.Http.EdgeApp
@{
    Layout = "MultiPlug.Ext.Thm.Default2016.Layout";
}

<style>
    .setting-heading img,
    .setting-heading h2 {
        margin-left: 0.1em;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .setting-heading img {
    opacity: 0.7; filter: alpha(opacity=70);
    }

    .setting-heading h2 {
    margin-left:0.1em;
    }
</style>

<div class="setting-heading">
    <h2><i class="icon-download-alt"></i>&nbsp;Add Extensions</h2>
</div>

@if (Model.Extension.Model.UpdatePending)
{
    <div class="alert">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Updates Pending</strong> Restart the system to apply pending updates.
    </div>
}

<form class="" action="/multiplug/sideload/" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <h3 class="box-header">
        Sideload Extensions
    </h3>
    <div class="box">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span10">
                        <input type="file" name="NupkgFile" accept=".nupkg,.dll">
                    </div>
                    <div class="span2">
                        <button type="submit" value="submit" class="btn btn-green btn-block">Sideload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> 

