@model MultiPlug.Extension.Domain.Models.Views.Settings.EnvironmentModel
@{
    Layout = "MultiPlug.Ext.Thm.Default2016.Layout";
}

<style>
    .setting-heading img,
    .setting-heading h2 {
        display: inline-block;
        vertical-align: middle;
    }

    .setting-heading img {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

    .setting-heading h2 {
        margin-left: 0.1em;
    }
</style>

<div class="setting-heading">
    <img height="35" width="35" alt="MultiPlug Icon" src="assets/default2016/images/MultiPlug-Icon.png">
    <h2>Environment</h2>
</div>
<form method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">

    <div class="box">

        <div class="row-fluid">
            <div class="span4">
                <div class="row-fluid"><div class="span12">Logging</div></div>
                <div class="row-fluid">
                    <select name="LoggingLevel">
                        @foreach (var x in @Model.LoggingLevel)
                        {
                            <option value="@x.Key" @if (x.Value) { <text> selected </text>       }>@x.Key</option>
                        }
                    </select>
                </div>
            </div>

            <div class="span4">
                    <div class="row-fluid"><div class="span12">Location</div></div>
                    <div class="row-fluid">
                        <input name="Location" class="input-block-level" type="text" value="@Model.Location">
                    </div>
            </div>

            <div class="span4">
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span2">
            <button type="submit" value="submit" class="btn btn-green btn-block">Save</button>
        </div>
        <div class="span2">
            <button id="cancel-btn" type="button" class="btn  btn-block">Cancel</button>
        </div>
        <div class="span4">
        </div>
    </div>
</form>

<script>
    $('#cancel-btn').click(function () {
        location.reload();
    });
</script>